.navbar {
    background-color: Black !important;
}

#basic-navbar-nav a {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    transition: 0.3s;
}

#basic-navbar-nav a:hover {
    color: #FFFFFF;
}