.jumbotron {
    position: relative;
    height: 100vh;
    background-image: url('https://wallpaperaccess.com/full/191519.jpg');
    background-size:cover;
    margin-bottom: 0px;
}

.jumbotron .container {
    position: absolute;
    bottom: 0;
    padding: 100px;
    color: #FFF;
}

.jumbotron p, .jumbotron .btn {
    font-size: 20px;
}

.jumbotron .btn {
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 30px;
    border-radius: 10px;
}

@media only screen and (max-width: 575px) {

    .jumbotron .container {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .jumbotron div {
        text-align: center;
    }

    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron p, .jumbotron .btn {
        font-size: 14px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {

    .jumbotron h1 {
        font-size: 30px;
    }

    .jumbotron p, .jumbotron .btn {
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .jumbotron h1 {
        font-size: 35px;
    }

    .jumbotron p, .jumbotron .btn {
        font-size: 18px;
    }
}